---
// Importa los datos de los cursos
import cursos from '../../data/cursos.json';

export async function getStaticPaths() {
  return cursos.map(curso => {
    return {
      params: {
        id: curso.id
      },
      props: {
        curso
      }
    };
  });
}

// Accede a los props pasados por getStaticPaths
const { curso } = Astro.props;

if (!curso) {
  return Astro.redirect('/404');
}
---
<!-- aqui aplicar componente de cursoTemplate -->
<html>
<head>
    <title>{curso.nombre}</title>
</head>
<body>
    <h1>{curso.nombre}</h1>
    <p>{curso.descripcion}</p>
</body>
</html>
