.buttonAulaVirtual {
    padding: 10px 25px;  /* Asegúrate de que esto refleja el diseño de Figma */
    background-color: #FCFCFC; /* Blanco */
    color: #29AAE9; /* Azul claro, asegúrate de que es el tono correcto */
    text-decoration: none;
    border-radius: 20px; /* Bordes redondeados como en Figma */
    border: none;  /* Sin bordes visibles */
    font-size: 16px; /* Coincide con Figma */
    font-weight: 700; /* Peso semibold */
    text-transform: uppercase;
    margin-left: auto; /* Empuja el botón a la derecha */
}