.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px; /* Aumenta el padding para más espacio */
    background-color: #1E57A4; /* Ajusta al color exacto del diseño */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo img {
    width: 162px;
    height: 88px;
    top: 8px;
    left: 26px;
    gap: 0px;
    opacity: 0px;

  }

  nav {
    margin-left: 25%;  /* Asegura que el nav empuje a la derecha */
    margin-right: 0%;
  }  

  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px; /* Aumenta el espacio entre elementos del menú */
  }
  
  nav a {
    text-decoration: none;
    color: #FCFCFC; /* Cambia el color del texto a blanco */
    font-size: 14px;
    text-transform: uppercase;
  }

  