.hero {
    background-image: url('/public/img/hero.png'); /* Asegúrate de que la ruta esté correcta */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: calc(100vh - 100px); /* Ajusta según la altura del header */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .hero-content {
    text-align: center;
    padding: 20px;
  }

  
  .hero-content img {
    max-width: 100px; /* Ajusta esto según el tamaño deseado del logo */
    height: auto;
  }

  .hero-content h1 {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  .hero-content p {
    font-size: 24px;
    opacity: 0.85;
    margin-top: 10px;
  }