/* Estilos para el contenedor .Testimonials */
.Testimonials {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: flex-end; /* Alinea los elementos al final del contenedor */
    height: 100%; /* Ocupa todo el alto disponible de .content-area */
    margin-top: auto; /* Empuja todo el contenido hacia abajo */
    padding: 0 20px 20px 20px; /* Añade padding excepto en la parte superior */
}

/* Ajustes para la imagen del testimonio */
.testimonial-image {
    position: absolute; /* Posicionamiento absoluto dentro del contenedor */
    bottom: 0; /* Alinea la imagen al final del contenedor */
    left: 15%; /* Alinea la imagen a la izquierda */
    width: 27%; /* Control del ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}


/* Ajustes para el contenido del testimonio */
.testimonial-content {
    position: absolute;
    right: 0; /* Alinea el contenido a la derecha */
    top: 20%; /* Alinea el contenido en la parte superior */
    width: 60%; /* Controla el ancho del contenido */
    padding: 20px; /* Añade padding para no pegar el texto a los bordes */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    height: 80%; /* Asegura que ocupe todo el alto del contenedor */
    color: #FCFCFC;
    text-align: center; /* Centra el texto horizontalmente */
}

.testimonial-logo {
    position: absolute;
    bottom: 20px; /* Alinea el logo en la parte inferior */
    right: 20px; /* Alinea el logo en la parte derecha */
}