---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const articles = await getCollection('articulos'); // Obtén todos los archivos Markdown de la carpeta `src/content/articles`
---


<BaseLayout title="Cursos" borde={true}>
  <h1>Todos los Artículos</h1>
  <ul>
    {articles.map(article => (
      <li>
        <a href={`/articulos/${article.slug}`}>{article.data.title}</a>
      </li>
    ))}
  </ul>
  </BaseLayout>

