---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getFilteredArticles } from "../utils/contentHelpers"

const articles = await getFilteredArticles();
---


<BaseLayout title="Cursos" borde={true}>
  <h1>Todos los Artículos</h1>
  <ul>
    {articles.map(article => (
      <li>
        <a href={`/articulos/${article.slug}`}>{article.data.title}</a>
      </li>
    ))}
  </ul>
  </BaseLayout>

