---
import BaseLayout from '../layouts/BaseLayout.astro';
import ImagenContainer from "../components/ImagenContainer.astro";
import CursosContainer from "../components/CursoContainer.astro";

const imagenURL = '/img/bussines_woman.webp';

import cursos from '../../src/data/cursos.json';

// Función para agrupar cursos por tipo y organizarlos de manera cíclica
function organizarCursosPorTipo(cursos: any[]): any[] {
  // Agrupar cursos por tipo
  const cursosPorTipo: { [key: string]: any[] } = cursos.reduce((acc, curso) => {
    if (!acc[curso.TIPO]) {
      acc[curso.TIPO] = [];
    }
    acc[curso.TIPO].push(curso);
    return acc;
  }, {});

  // Obtener todos los tipos de curso
  const tipos = Object.keys(cursosPorTipo);

  // Crear el array resultante con cursos intercalados
  const resultado: any[] = [];
  let maxCursosPorTipo = Math.max(...tipos.map(tipo => cursosPorTipo[tipo].length));

  for (let i = 0; i < maxCursosPorTipo; i++) {
    for (const tipo of tipos) {
      if (cursosPorTipo[tipo][i]) {
        resultado.push(cursosPorTipo[tipo][i]);
      }
    }
  }

  return resultado;
}

// Obtener la lista completa de cursos en orden aleatorio
const cursosAleatorios = organizarCursosPorTipo(cursos);

---
<!-- aqui usar componente de pagina de cursos -->

<BaseLayout title="Cursos" borde={true}>
<ImagenContainer ImagenBackgounrd={imagenURL}>
        <div class="curso-banner">
          <img src="/img/logo_color.svg" alt="Logo de CSC del Maule" />
          <h1>Nuestros Cursos</h1>
        </div>
</ImagenContainer>

<CursosContainer cursos={cursosAleatorios} />
</BaseLayout>


<style>
    .curso-banner {
    text-align: center;
    position: absolute;  /* Usa posicionamiento absoluto para controlar la ubicación exacta */
    top: 15%;  /* Inicia en el centro */
    left: 50%;  /* Centrado horizontalmente */
    width: auto;  /* Asegura que el contenido no se desborde */
    }

.curso-banner h1 {
    font-size: 50px;
    color: #062C5B;
    margin: 0;
    padding: 0 20%;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .curso-banner {
        top: 20%;  /* Aumenta si necesitas más espacio en la parte superior */
        left: 10%; /* Ajusta para una alineación más a la izquierda */
        width: 80%; /* Da más espacio para el texto */
    }

    .curso-banner h1 {
        font-size: 24px; /* Reduce el tamaño del texto para adaptarse a pantallas más pequeñas */
        padding: 0 10%; /* Reduce el padding para evitar desbordamiento */
    }
}



</style>