---
import '../styles/global.css';
import Header from "../components/Header.astro"
import Hero from '../components/Hero.astro';
---
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <title>CSC del Maule</title>
</head>
<body>
	<Header/>
  <main>
	<Hero/>
    <section class="features">
      <!-- Sección de características como 'Formación a medida' -->
    </section>
    <section class="testimonials">
      <!-- Sección de testimonios -->
    </section>
    <section class="philosophy">
      <!-- Filosofía de la empresa -->
    </section>
    <section class="partners">
      <!-- Logos de socios y colaboradores -->
    </section>
  </main>
  <footer>
    <!-- Enlaces de interés y datos de contacto -->
  </footer>
</body>
</html>
