---
// CursoCard.astro
const { nombreCurso, tipoCurso, link } = Astro.props;
---
<div class="curso-card" data-tipo={tipoCurso}>
    <h2>{nombreCurso}</h2>
    <a href={link}>Ver más</a>
</div>

<style>
    .curso-card {
    background-color: var(--color-de-fondo); /* Define los colores en una hoja de estilos o en el :root */
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.curso-card[data-tipo='sincronico'] {
    background-color: #blue; /* Color para sincrónico */
}

.curso-card[data-tipo='asincronico'] {
    background-color: #green; /* Color para asincrónico */
}

.curso-card[data-tipo='presencial'] {
    background-color: #red; /* Color para presencial */
}

.curso-card[data-tipo='todos'] {
    background-color: #purple; /* Color para todos */
}
</style>