---
// CursoCard.astro
import Btn from "./Btn.astro";

const { nombreCurso, tipoCurso, link, backgroundColor } = Astro.props;
---

<div class="curso-card" data-tipo={tipoCurso}>
  <div class="curso-info">
    <p>{nombreCurso}</p>
  </div>
  <div class="button-container">
    <Btn
      url={link}
      text="ver m치s"
      backgroundColor={backgroundColor}
      fontSize="12px"
    />
  </div>
</div>

<style>
  .curso-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido interno se distribuya con espacio al final */
    background-image: linear-gradient(to bottom, #17417d 0%, #448fcd 100%);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--color-secundario);
  }

  .curso-info {
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center; /* Centra el texto verticalmente */
    flex: 1; /* Asegura que ocupe todo el espacio disponible */

  }

  .button-container {
    width: auto; /* Mantiene el tama침o natural del bot칩n */
    display: flex;
    justify-content: center; /* Centra el bot칩n dentro del contenedor */
  }
  
</style>
