---
import '../styles/curved.css'
---

<div class="CurvedContainer">
    <div class="curved-top"></div> <!-- Div para la curva -->
    <div class="content-area">
        <slot></slot> {/* Aquí se renderizará el contenido pasado al componente */}
    </div> <!-- Div para el contenido futuro -->
</div>

  