---
// Recibe props de los iconos, títulos y números
const { icon, label, percentage, colorIcon } = Astro.props;
---

<div class="icon-item">
    <div class="icon-container" style={{ backgroundColor: colorIcon }}>
    <img src={icon} alt={label} class="icon-image" />
  </div>
  <div class="icon-text">
    <h3 style={{color: colorIcon}} >{percentage}%</h3>
    <p>{label}</p>
  </div>
</div>

<style>
.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: var(--color-secundario); /* Color de fondo del ítem */
  border-radius: 50px; /* Bordes redondeados */
  flex: 1; /* Cada ítem crecerá equitativamente */
  min-width: 120px; /* Mínimo ancho para cada ítem */
  max-width: 150px; /* Máximo ancho para cada ítem */
}

.icon-container {
  width: 90px;  /* Tamaño fijo para el círculo */
  height: 90px;  /* Tamaño fijo para el círculo */
  border-radius: 50%;  /* Hace el div completamente redondo */
  display: flex;
  align-items: center;  /* Centra el ícono verticalmente */
  justify-content: center;  /* Centra el ícono horizontalmente */
  margin-bottom: 20px;  /* Espacio debajo del contenedor del ícono */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Sombra ligera */
}

.icon-image {
  width: 60px;  /* Tamaño del ícono */
  height: 60px;  /* Mantiene la proporción del ícono */
}

.icon-text h3 {
  margin: 0;
  font-size: 18px; /* Ajusta este tamaño para que coincida con tu diseño */
  margin-bottom: 5px; /* Reduce o aumenta según la separación deseada */
}

.icon-text p {
    margin: 0;
    color: var(--color-primario);
    font-size: 14px; /* Ajusta este tamaño para la descripción */
    padding: 0 15%; /* Añade padding a los lados para más enfoque en el texto */
}
</style>
