---
const API_KEY_EMAIL = "xkgwbeqa";
const url_email = `https://formspree.io/f/${API_KEY_EMAIL}`;

import Btn from "./Btn.astro";
---

<div class="form-banner">
  <div class="form-container">
    <h1>Formulario de contacto</h1>
    <form action={url_email} method="POST">
      <div class="nombre-container">
        <span>Nombre/Empresa (Requerido)</span>
        <input type="text" name="user_name" required />
      </div>
      <div class="email-container">
        <span>Email (Requerido)</span>
        <input type="email" name="user_email" required />
      </div>
      <div class="asunto-container">
        <span>Mensaje (Requerido)</span>
        <textarea name="message" rows="4" required></textarea>
      </div>
      <div class="btn-container">
        <Btn
          id="btnEnviar"
          type="Submit"
          text="Enviar"
          backgroundColor="var(--color-tercero)"
          fontSize="14px"
        />
      </div>
    </form>
  </div>
</div>

<style>
  .form-banner {
    justify-content: center; /* Centrar el contenido verticalmente */
    width: 55%; /* Ocupa menos espacio, ajusta según tu diseño */
    background-color: #1e57a4;
    color: var(--color-secundario);
    box-sizing: border-box; /* Incluye el padding en el cálculo de width/height */
  }

  .form-container {
    display: flex;
    flex-direction: column;
    margin: 10% 10% 15% 10%;
    box-sizing: border-box;
  }

  form {
    width: 100%; /* Ajusta esto para cambiar el ancho máximo del formulario */
    max-width: 500px; /* O usa max-width para limitar el ancho máximo */
  }

  input,
  textarea {
    width: 100%; /* Hace que los inputs y textarea tomen todo el ancho disponible */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho para evitar desbordes */
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-primario);
    font-family: "Montserrat"; /* Ejemplo de fuente, ajusta a tu diseño */
  }

  input:focus,
  textarea:focus {
    border: 3px solid var(--color-tercero);
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
  }

  @media (max-width: 800px) {
    .form-banner {
      width: auto;
    }
  }
</style>
