---
const API_KEY_EMAIL = "xkgwbeqa"
const url_email = `https://formspree.io/f/${API_KEY_EMAIL}`
---

<form action={url_email} method="POST">
  <input type="text" name="user_name" placeholder="Nombre" required />
  <input type="email" name="user_email" placeholder="Email" required />
  <textarea name="message" placeholder="Mensaje" rows="4" required></textarea>
  <button type="submit">Enviar</button>
</form>

<style>
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
  }

  input:focus, textarea:focus {
    border-color: #062C5B;
  }

  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #062C5B;
    background-color: #062C5B;
    color: white;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #043C78;
  }
</style>
