---
const API_KEY_EMAIL = "xdkokbww";
const url_email = `https://formspree.io/f/${API_KEY_EMAIL}`;

import Btn from "./Btn.astro";
---

<div class="form-banner">
  <div class="form-container">
    <h1>Formulario de contacto</h1>
    <form id="contactForm" action={url_email} method="POST">
      <div class="nombre-container">
        <span>Nombre/Empresa (Requerido)</span>
        <input type="text" name="user_name" required />
      </div>
      <div class="email-container">
        <span>Email (Requerido)</span>
        <input type="email" name="user_email" required />
      </div>
      <div class="asunto-container">
        <span>Mensaje (Requerido)</span>
        <textarea name="message" rows="4" required></textarea>
      </div>
      <div class="btn-container">
        <Btn
          id="btnEnviar"
          type="Submit"
          text="Enviar"
          backgroundColor="var(--color-tercero)"
          fontSize="14px"
        />
      </div>
    </form>
    <div id="notification" class="notification" style="display: none;"></div>
  </div>
</div>

<style>
  /* Tus estilos CSS permanecen sin cambios */
  .form-banner {
    justify-content: center;
    width: 55%;
    background-color: #1e57a4;
    color: var(--color-secundario);
    box-sizing: border-box;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 10% 10% 15% 10%;
    box-sizing: border-box;
  }
  form {
    width: 100%;
    max-width: 500px;
  }
  input,
  textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s;
    color: var(--color-primario);
    font-family: "Montserrat";
  }
  input:focus,
  textarea:focus {
    border: 3px solid var(--color-tercero);
  }
  .btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .notification {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-family: "Montserrat";
    display: none;
  }
  .notification.success {
    background-color: #4caf50;
    color: #ffffff;
  }
  .notification.error {
    background-color: #f44336;
    color: #ffffff;
  }
  @media (max-width: 800px) {
    .form-banner {
      width: auto;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contactForm')as HTMLFormElement;
    const notification = document.getElementById('notification');

    if (form && notification) {
      form.addEventListener('submit', async (event) => {
        event.preventDefault(); // Evita que el formulario se envíe de forma tradicional

        // Recopila los datos del formulario
        const formData = new FormData(form);

        try {
          // Envía los datos del formulario usando fetch
          const response = await fetch(form.action, {
            method: form.method,
            body: formData,
            headers: {
              'Accept': 'application/json'
            }
          });

          if (response.ok) {
            showNotification('Formulario enviado exitosamente', 'success');
            form.reset(); // Limpia los campos del formulario
          } else {
            showNotification('Hubo un problema al enviar el formulario. Inténtalo nuevamente.', 'error');
          }
        } catch (error) {
          showNotification('Ocurrió un error al enviar el formulario. Inténtalo más tarde.', 'error');
        }
      });
    }

    function showNotification(message: any, type: any) {
      if (notification) {
        notification.textContent = message;
        notification.className = `notification ${type}`;
        notification.style.display = 'block';
        setTimeout(() => {
          notification.style.display = 'none';
        }, 5000);
      }
    }
  });
</script>
