---
// Importaciones o scripts aquí si son necesarios más adelante
import '../styles/hero.css'
---
<div class="hero">
    <div class="hero-content">
      <img src="/public/img/logo.png" alt="Logo de CSC del Maule" />
      <p>Bienvenidos a CEC del Maule SpA.</p>
      <h1>TRANSFORMAMOS PERSONAS A TRAVÉS DEL APRENDIZAJE</h1>
    </div>
  </div>
  
