---
// Importaciones o scripts aquí si son necesarios más adelante
import '../styles/Hero.css'
---
<html>
<head>
</head>
<body>
  <div class="hero">
    <div class="hero-content">
      <img src="/public/img/logo.png" alt="Logo de CSC del Maule" />
      <h1>TRANSFORMAMOS PERSONAS A TRAVÉS DEL APRENDIZAJE</h1>
      <p>Bienvenidos a CSC del Maule SpA.</p>
    </div>
  </div>
</body>
</html>
