---
const { ImagenBackgounrd, height = 'calc(100vh - 90px)' } = Astro.props;
---

<div class="imagenContainer" style={{ backgroundImage: `url(${ImagenBackgounrd})`, height: height }}> 
    <slot/>
</div>

<style>
.imagenContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* El height ahora se define a través de props */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-secundario);
  position: relative;  /* Permite posicionamiento absoluto de los hijos */
}
</style>
