---
import IconItem from './IconItem.astro';
import CurvedContainer from "./CurvedContainer.astro";

const iconItemsData = [
  {
    label: "Cursos ejecutados",
    colorIcon: "#FDC115",
    additionalClass: "hover",
    iconContent: "329"
  },
  {
    label: "Horas de capacitación",
    colorIcon: "#F46822",
    additionalClass: "hover",
    iconContent: "5,994"
  },
  {
    label: "Participantes capacitados",
    colorIcon: "#DB1A5D",
    additionalClass: "hover",
    iconContent: "7,072"
  }
];
---

<CurvedContainer>
    <div class="logrados-container">
        <h3 class="section-title">Lo que hemos logrado</h3>
        <p class="section-description">Esto es un gran logro para nuestro equipo, trabajamos a diario con la misma pasión del primer día.</p>
        <div class="logrados-section">
          {iconItemsData.map(item => (
            <IconItem label={item.label} colorIcon={item.colorIcon} additionalClass={item.additionalClass}, colorText="#FCFCFC">
              <span slot="icon-content" class="icon-content">{item.iconContent}</span>
            </IconItem>
          ))}
        </div>
      </div>
</CurvedContainer>

<style>
    .logrados-container {
      display: flex;
      flex-direction: column; /* Apila los elementos verticalmente */
      width: 60%; /* Usa solo el 60% del ancho disponible */
      margin: auto; /* Centra el contenedor en la página con márgenes automáticos */
      text-align: center;
      padding: 20px; /* Padding vertical ajustado */
      min-height: 550px; /* Altura general del contenedor */
      justify-content: center; /* Centra los elementos verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
    }
    
    .section-title {
      color: var(--color-secundario);
      font-size: 24px;
      margin-top: 20px; /* Espacio adicional arriba del título */
      margin-bottom: 10px; /* Menos espacio antes de la descripción */
      text-transform: uppercase;
    }
    
    .section-description {
      color: var(--color-secundario);
      font-size: 16px;
      margin-bottom: 40px; /* Aumenta el espacio antes de la sección de íconos */
      padding: 0 20%; /* Añade padding a los lados para más enfoque en el texto */
    }
    
    .logrados-section {
      display: flex;
      overflow-x: hidden; /* Permite desplazamiento horizontal */
      scroll-snap-type: x mandatory; /* Asegura que el desplazamiento se ajuste al siguiente elemento automáticamente */
      justify-content: flex-start; /* Alinea los ítems al inicio del contenedor */
      align-items: center;
      flex-wrap: nowrap; /* Evita que los ítems se envuelvan */
      gap: 15px; /* Ajusta el espacio entre los ítems si es necesario */
      padding: 0 5%; /* Reduce el padding para que los ítems estén más juntos */
    }

    @media (max-width: 450px) {
    .section-description {
        display: none; /* Oculta la descripción de la sección */
    }
    
    .logrados-section {
        gap: 0; /* Reduce el espacio entre los ítems */
        justify-content: center; /* Centra los ítems horizontalmente */
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        align-items: center;
        padding: 0; /* Reduce el padding a cero para maximizar el uso del espacio */
    }
    
    .logrados-container {
        padding: 20px 20px 0 20px; /* Ajusta el padding superior para alinear con la desaparición de la descripción */
    }
}

@media (max-width: 350px) {

  .logrados-container {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .logrados-section {
        display: flex;
        flex-wrap: nowrap; /* Asegura que los ítems no se envuelvan */
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        scroll-snap-type: x mandatory; /* Asegura que cada elemento se alinee correctamente al desplazarse */
        width: 100%; /* Establece un ancho explícito para el contenedor */
        justify-content: flex-start; /* Alinea los ítems al inicio */
    }

    .logrados-section > * {
        flex: 0 0 100%; /* Cada ítem ocupa el 100% del ancho del contenedor */
        max-width: 100%; /* Asegura que cada ítem no exceda el ancho del contenedor */
        scroll-snap-align: start; /* Alinea los elementos al inicio durante el desplazamiento */
    }
}



</style>
