---
// Importaciones o scripts aquí si son necesarios más adelante
import ImagenContainer from "./ImagenContainer.astro"

const imagenURL = '/img/banner_nosotros.webp'
---

<ImagenContainer ImagenBackgounrd={imagenURL}>
    <div class="nosotros">
        <div class="nosotros-content">
          <h1>NOSOTROS</h1>
          <p>Somos un equipo de profesionales con experiencia en capacitación online que pone de frente toda la innovación y tecnología para entregar una solución integra a todos nuestros usuarios, contribuyendo al crecimiento y desarrollo de las personas.</p>
        </div>
      </div>
</ImagenContainer>

<style>


.nosotros-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea el contenido horizontalmente al inicio */
  text-align: left; /* Alinea el texto a la izquierda */
  width: 60%; /* Controla la anchura del contenido */
  margin-left: 10%; /* Reducido para empujar menos hacia el centro */
}

.nosotros-content h1 {
  font-size: 45px;  /* Ajusta el tamaño de fuente del título */
  margin: 0;
}

.nosotros-content p {
  font-size: 30px;  /* Ajusta el tamaño de fuente del párrafo */
  margin-top: 3%;
  padding-right: 20%;
}

/* Media query para ajustar la vista en dispositivos hasta 950px */
@media (max-width: 1024px) {
    .nosotros-content {
        align-items: center; /* Centra el contenido horizontalmente */
        text-align: center; /* Centra el texto horizontalmente */
        width: 80%; /* Aumenta el ancho del contenido para centrarlo visualmente */
        margin-left: auto; /* Ajuste automático del margen izquierdo para centrado */
        margin-right: auto; /* Ajuste automático del margen derecho para centrado */
    }
    
    .nosotros-content p {
        padding: 0;
    }
}

/* Ajustes adicionales para menores resoluciones si es necesario */
@media (max-width: 600px) {
    .nosotros-content h1 {
        font-size: 36px; /* Tamaño de fuente más pequeño para h1 */
    }

    .nosotros-content p {
        font-size: 18px; /* Tamaño de fuente más pequeño para el párrafo */
    }
}

</style>