<!-- Componente Política de Calidad -->
<div class="policy-container">
    <h2>Política de Calidad</h2>
    <h4>La alta dirección de CEC del Maule declara y se compromete a:</h4>
    <p>Cumplir los requisitos del sistema de gestión de la calidad, los requisitos legales y de mejorar continuamente la eficacia de este.</p>
</div>

<style>
.policy-container {
    position: relative;
    background-color: var(--color-secundario);
    padding: 5% 35%;
    text-align: center;
    color: #062C5B;
    font-size: 16px;
    min-height: 200px;
}

h2 {
    margin: 0 0 10px 0;
    color: #062C5B;
}

h4, {
    margin: 10px 0;
    line-height: 1.5;
}

p {
    margin-top: 30px;

}

@media (max-width: 800px) {

    .policy-container {
        padding: 5% 20%;
    }
}
</style>
