---
import '../styles/testimonials.css'
---

<div class="testimonials">
    <div class="curved-top"></div> <!-- Div para la curva -->
    <div class="content-area"></div> <!-- Div para el contenido futuro -->
</div>

  