---
// Importar estilos específicos si es necesario
import '../styles/testimonials.css';
---

<!-- Componente Testimonials -->
<div class="Testimonials">
    <img src="/public/img/young-woman.webp" alt="Testimonio" class="testimonial-image"/>
    <div class="testimonial-content">
        <h3>Testimonios</h3>
        <p>"Fui al curso de IFRS y el profesor estuvo muy pendiente de mí, considerando que fue un curso sincrónico, nada que decir, muy buena la experiencia y el aprendizaje me sirvió muchísimo, totalmente recomendado."</p>
        <div class="testimonial-logo">
            <p>CON EL SELLO DE UCM</p>
            <img src="/public/img/ucm.webp" alt="Logo UCM"/>
        </div>
    </div>
</div>